
<div class="category-page">
    <%- partial('components/categorylist',{cache: true}) %>
</div>
<div class="tags-page-list">
    <% site.categories.sort('name').each(function(item){ %>
        <div class="tag-group" id="item-<%= item.name.toLowerCase() %>">
            <h3 class="tag-name">
                <%= item.name %>
                <small>(<%= item.posts.length %>)</small>
            </h3>
            <ul class="tag-post-list">
                <% item.posts.sort('date', -1).each(function(post){ %>
                    <li>
                        <a href="<%- url_for(post.path) %>">
                            <%= post.title %>
                        </a>
                        <span class="post-date">
                            <%= date(post.date, 'YYYY-MM-DD') %>
                        </span>
                    </li>
                <% }) %>
            </ul>
        </div>
    <% }) %>
</div>
<script>
    // 页面加载完成后执行
    document.addEventListener('DOMContentLoaded', function() {
        // 获取URL中的标签名
        const tagName = window.location.pathname.split('/categories/')[1];
        if (tagName) {
            gotoHeader('item',tagName)
        }
    });
</script>