<!DOCTYPE html>
<html lang="<%= config.language %>">
<head>
    <%- partial('components/head',{cache: true}) %>
</head>
<body class="light">

    <div class="loading flex">
        <div></div>
    </div>

    <!-- 调试信息 -->
    <!-- <% if (process.env.NODE_ENV !== 'production') { %>
        <div style="background: #f0f0f0; padding: 10px; margin: 10px;">
            页面类型: <%= page.layout %><br>
            页面路径: <%= page.path %><br>
            是否为文章页: <%= is_post() %><br>
            是否为首页: <%= is_home() %>
        </div>
    <% } %> -->
    <%- partial('components/header',{cache: true}) %>
    <div class="main">
        <%- body %>
    </div>
    <%- partial('components/footer',{cache: true}) %>
    <%- partial('components/search',{cache: true}) %>
    <!-- <div class="gotopage" id="gotopage">
        <i class="far fa-arrow-alt-circle-up"></i>
    </div> -->
    <script src="/assets/js/common.js"></script>
    <script src="/assets/js/func.js"></script>
    <script src="/assets/live2dw/lib/L2Dwidget.js"></script>
    <script>
        // 加载动画
        window.addEventListener('DOMContentLoaded',function(){
            setTimeout(function() {
                document.querySelector('.loading').style.display = 'none';
            },800)
        },false)
        
        /* 看板娘 */
        L2Dwidget.init({
            "pluginRootPath"  : "/assets/live2dw/",
            "pluginJsPath"	  : "/assets/live2dw/lib/",
            "pluginModelPath" : "/assets/live2dw/assets/",
            "tagMode"		  : false,
            "debug"			  : false,
            "model"			  : {
                "jsonPath" : "/assets/live2dw/assets/kesshouban.model.json"
            },
            "display" : {
                "position" : "right",
                "width"	   : 250,
                "height"   : 250,
                "hOffset"  : -70,
                "vOffset"  : 60
            },
            "dialog"	: {
                "enable" : true
            },
            "mobile"	: {
                "show" : true
            },
            "react"		: {
                "opacity" : 1
            },
            "log" : false
        });
        const addEvent = function(){
            const live2dWidget = document.getElementById('live2d-widget')
            setTimeout(function(){
                if(live2dWidget){
                    live2dWidget.addEventListener('click',function(e){
                        document.querySelector('.main').scrollTo({
                            top: 0,
                            behavior: 'smooth'
                        });
                    })
                }else{
                    addEvent()
                }
            },1000)
        }
        addEvent()
    </script>
    <!-- Cloudflare Web Analytics -->
    <!-- <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "5bd3afcce7474fcdbf639fab1999e804"}'></script> -->
    <!-- End Cloudflare Web Analytics -->
    <!-- <script src='//unpkg.com/@waline/client/dist/waline.js'></script>
    <link href='//unpkg.com/@waline/client/dist/waline.css' rel='stylesheet'/> -->
</body>
</html>